.mySlides {
	display: none;
	padding-left: 75px;
	padding-right: 75px;
	text-align: center;
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.mySlides img {
	height: 250px;
}

.activeS, .dot:hover {
	transform: scale(1.1, 1.1);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* Fading animation */
.fade {
	opacity: 1;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	-webkit-animation-name: fade;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

p.divider {
	display: flex;
	flex-direction: row;
	align-items: center;
}

p.divider * {
	flex-shrink: 0
}

p.divider span.divider {
	width: 100%;
	flex-shrink: 1;
	border-bottom: 1px solid;
	margin: 5px
}

.processDiv {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.processImg {
	width: 100%;
	height: 100%;
}

.wrap {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

.links {
	padding: 0 0px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.dot {
	width: 100px;
	height: 100px;
	margin-left: 5px;
	margin-right: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.activeS, .dot:hover {
	transform: scale(1.2, 1.2);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.wrap:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 3%;
	border-top: 1px solid white;
	width: 90%;
}

#prevProcess {
	width: 75px;
}

#nextProcess {
	width: 75px;
}

h3 {
	color: #3399ff;
}

#prevProcessIcon {
	height: 30px;
	width: 30px;
	border-radius: 0;
	box-shadow: none;
	background-image: url('../images/Arrow_left_Blue.png');
}

#nextProcessIcon {
	height: 30px;
	width: 30px;
	border-radius: 0;
	box-shadow: none;
	background-image: url('../images/Arrow_right_Blue.png');
	box-shadow: none;
}

#jerseyDot {
	background-image: url('../images/belo/dres.png')
}

#jerseyDot: hover {
	background-image: url('../images/plavo/dres.png')
}

#jerseyDot.activeS {
	background-image: url('../images/plavo/dres.png')
}

#approwedDot {
	background-image: url('../images/belo/Approwed.png')
}

#approwedDot: hover {
	background-image: url('../images/plavo/Approwed.png')
}

#approwedDot.activeS {
	background-image: url('../images/plavo/Approwed.png')
}

#needleDot {
	background-image: url('../images/belo/needle.png')
}

#needleDot: hover {
	background-image: url('../images/plavo/needle.png')
}

#needleDot.activeS {
	background-image: url('../images/plavo/needle.png')
}

#pencilDot {
	background-image: url('../images/belo/Pencil.png')
}

#pencilDot: hover {
	background-image: url('../images/plavo/Pencil.png')
}

#pencilDot.activeS {
	background-image: url('../images/plavo/Pencil.png')
}

#truckDot {
	background-image: url('../images/belo/Truck.png')
}

#truckDot: hover {
	background-image: url('../images/plavo/Truck.png')
}

#truckDot.activeS {
	background-image: url('../images/plavo/Truck.png')
}